<app-side-nav>
<div id="body">
  <h1>DEVELOPMENT TEAM</h1>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <div class="tile">
    <div class="item mat-elevation-z8"><h3>Christopher Satin</h3></div>
    <div class="item mat-elevation-z8"><h3>Bui Duy Hao</h3></div>
    <div class="item mat-elevation-z8"><h3>Tam Dang</h3></div>
    <div class="item mat-elevation-z8"><h3>Jerome Ching</h3></div>
    <div class="item mat-elevation-z8"><h3>Quan Trinh</h3></div>
  </div>
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>
</app-side-nav>