#side {
    margin: 10px;
    position: absolute;
    width: unset;
}

.side-item {
    text-align: center;
    border-bottom: 2px solid black;
}

.side-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.instruction {
    width: 300px;
    word-break: normal;
}

mat-drawer {
    padding: 20px;
    ::ng-deep {
        .mat-drawer-inner-container {
        overflow: hidden;
    }
}
}

img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}

.active {
    text-decoration: underline;
}