<app-side-nav>
<div id="body">
  <h1>Game Over!</h1>
  <div class="tile mat-elevation-z8">
    <h2>Leader Board</h2>
    <mat-divider></mat-divider>
    <mat-tab-group headerPosition="below">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>dashboard</mat-icon>
        </ng-template>
        <div class="item" *ngFor="let user of sortedScore, let i = index">
          <div class="left"><mat-icon color="accent">{{i === 0 ? 'grade' : ''}}</mat-icon>{{user.name}}</div>
          <div class="right"><mat-icon></mat-icon>{{user.score}}</div>
        </div>
        </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>access_time</mat-icon>
        </ng-template>
        <div class="item" *ngFor="let user of sortedTime, let i = index">
            <div class="left"><mat-icon color="accent">{{i === 0 ? 'grade' : ''}}</mat-icon>{{user.name}}</div>
            <div class="right"><mat-icon></mat-icon>{{user.time}}s</div>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</app-side-nav>