<app-side-nav>
<div id="body">
  <h1>Game Over!</h1>
  <div class="tile mat-elevation-z8">
    <h2>Leader Board</h2>
    <mat-divider></mat-divider>
    <mat-tab-group headerPosition="below">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>dashboard</mat-icon>
        </ng-template>
        <p *ngFor="let user of users"><span>{{user.name}}</span> : {{user.score}}</p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>access_time</mat-icon>
        </ng-template>
        <p>Hao Bui</p>
        <p>Quan Trinh</p>
        <p>Jerome</p>
        <p>Chris</p>
        <p>Tam Dang</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</app-side-nav>