#body {
    display: flex;
    flex-flow: row wrap;
    min-height: 650px;
    justify-content: center;
    background-color: #69F0AE;
}

.start {
    justify-content: center;
    align-items: center;
    button {
        font-weight: bold;
    }
}

#countDown {
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#slide {
    margin: 10px;
    position: absolute;
}

mat-drawer {
    padding: 70px;
}

h2 {
    text-align: center;
}

.tile {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 6px;
    padding: 10px;
}