<mat-drawer-container>
    <mat-drawer mode="over" #drawer>
      <h1>List of users</h1>
      <mat-divider></mat-divider>
      <div *ngFor="let user of users">
        <p *ngIf="user.role === 'host'"><b>{{user.name}}</b></p>
        <p *ngIf="user.role !== 'host'">{{user.name}}</p>
      </div>
      <button mat-raised-button color="warn" (click)="leaveRoom()">Leave Room</button>
    </mat-drawer>
    <mat-drawer-content>
    <button id="slide" mat-raised-button (click)="drawer.toggle()"><mat-icon>view_list</mat-icon></button>
    <div id="body">
        <h1 id="countDown">{{ countDown >= 0 ? countDown : 0}}</h1>
        <h1 *ngIf="countDown <= 0">Waiting for next round...</h1>
        <div class="tile start mat-elevation-z8" *ngIf="!isStarted">
          <button mat-raised-button color="accent" [disabled]="!canStart()" (click)="start()">Start Game</button>
        </div>
        <div *ngFor="let q of bankOfQuestions, let i = index">
          <div class="tile mat-elevation-z8" *ngIf="isStarted && i === 0">
            <h2>{{q.question}}</h2>
            <div>
            <div class="item">
              <button matBadgeColor="accent" matBadge="{{votes[0] > 0 ? votes[0] : '' }}" (click)="vote(0)" [disabled]="!canVote" mat-raised-button>{{q.answers[0]}}</button></div>
            <div class="item">
              <button matBadgeColor="accent" matBadge="{{votes[1] > 0 ? votes[1] : '' }}" (click)="vote(1)" [disabled]="!canVote" mat-raised-button>{{q.answers[1]}}</button></div>
            <div class="item">
              <button matBadgeColor="accent" matBadge="{{votes[2] > 0 ? votes[2] : '' }}" (click)="vote(2)" [disabled]="!canVote" mat-raised-button>{{q.answers[2]}}</button></div>
            <div class="item">
              <button matBadgeColor="accent" matBadge="{{votes[3] > 0 ? votes[3] : '' }}" (click)="vote(3)" [disabled]="!canVote" mat-raised-button>{{q.answers[3]}}</button></div>
          </div>
          </div>
        </div>
    </div>
    </mat-drawer-content>
</mat-drawer-container>