<mat-drawer-container>
    <mat-drawer mode="over" #drawer>
      <h1>List of users</h1>
      <mat-divider></mat-divider>
      <div *ngFor="let user of users">
        <p *ngIf="user.role === 'host'"><b>{{user.name}}</b></p>
        <p *ngIf="user.role !== 'host'">{{user.name}}</p>
      </div>
      <button mat-raised-button color="warn" (click)="leaveRoom()">Leave Room</button>
    </mat-drawer>
    <mat-drawer-content>
    <button id="slide" mat-raised-button (click)="drawer.toggle()"><mat-icon>view_list</mat-icon></button>
    <div id="body">
        <h1 id="countDown">{{ countDown >= 0 ? countDown : 0}}</h1>
        <div class="tile start mat-elevation-z8" *ngIf="!isStarted">
          <button mat-raised-button color="accent" (click)="start()">Start Game</button>
        </div>
        <div *ngFor="let q of bankOfQuestions, let i = index">
          <div class="tile mat-elevation-z8" *ngIf="isStarted && i === 0">
            <h2>{{q.quiz}}</h2>
            <div>
            <div class="item"><button mat-raised-button>{{q.a}}</button></div>
            <div class="item"><button mat-raised-button>{{q.b}}</button></div>
            <div class="item"><button mat-raised-button>{{q.c}}</button></div>
            <div class="item"><button mat-raised-button>{{q.d}}</button></div>
            </div>
          </div>
        </div>
    </div>
    </mat-drawer-content>
</mat-drawer-container>